.center {
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.theme {
  color: #fe5000;

}

.BColor, .TColor {
  background-color: black;
  color: white;
}

.TColor {
}

.BImg {
  background-image: url("../img/showcase.jpg");
  background-position: top;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  margin-left: 10px;

}

.logo {
  font-size: 32px;
}

a {
  color: #3a9fbf;
}

a:hover {
  color: #2e7f97;
}
